{% extends "auctions/layout.html" %}

{% block body %}

    <h2>Listing: {{ listing.title }}</h2>

    <div class="card text card-custom mb-4" style="width: 40rem;">
            <img class="card-img-top" src="{{ listing.image_url }}" alt="No image." width="50%">
            <div class="card-body">
                <h5 class="card-title">{{ listing.title }}</h5>
                <p class="card-text">
                    <small class="text-muted">Published by: {{ listing.username }}</small>
                </p>
                <p class="card-text card-description">
                    {{ listing.description }}
                </p>

                <p>
                    <b>Current price: USD {{ listing.current_price }} (Started at USD {{ listing.starting_bid }})</b>
                </p>
                <a href="{% url 'index' %}">Return to all the listings</a>
            </div>
        </div>
    </div>

{% endblock %}